body, html, #app {
  height: 100%;
}
*, *::before, *::after {
  box-sizing: content-box;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
